.nav-bar{
    justify-content:space-between;
}
.nav-link{
    color:white;
    margin-left: 25px;
}
.offcanvas-link{
    color:black;
}
.offcanvas-btn
{
    margin-right: 0px;
}
.box{
    display: flex;
    justify-content: flex-end;
}
.toggle{
    margin-left: auto;
    align-self: flex-end;
}
.box1{
    width: 74%;
    display: flex;
    justify-content: flex-start;
}